body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
}


#nav {
    background-color: green;
}

#nav button {
    margin-top: 40px;
}

.navcollapse {
    border-top: 0;
}

.navdefault .navtoggle:focus, .navdefault .navtoggle:hover {
    background-color: orange;
}

.navbrand, .navbar li a {
    line-height: 76px;
    height: 76px;
}



.navbarbrand h1 {
    color: black;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 1.8em;
}


.navbarbrand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}


#navlist {
    background-color: black;
}

#navlist a {
    /*text-align: center;*/
    font-weight: bolder;
    color: orange;
    font-size: 1.2em;
}


#navlist a:hover {
    color: red;
    background-color: black;
}


.navbarheader button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
    color: black;
}



#maincontent {
    width: 92%;
    margin-bottom: 30px;
}


#maincontent h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}


#maincontent h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}


#chicken, #beef, #sushi {
    width: 90%;
    padding: 30px;
    background-color: grey;
    margin-bottom: 60px;
}
